<style>
body {
  text-align: center;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

img {  
   max-height: 100%;  
   max-width: 100%; 
   width: auto;
   height: auto;
   margin: auto;
 }
 .picture{
   width: 750px;
 }
 </style>
